.profile__user {
	display: grid;
	grid-template-areas: 
		"name edit-button"
		"activity activity";
	grid-column-gap: 18px;
	grid-row-gap: 16px;
	align-content: center;
	align-items: center;
	padding-left: 30px;
	padding-right: 18px;
}