.popup__input {
	max-width: 358px;
	max-height: 14px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 0 13px 0;
	margin-bottom: 30px;
}

.popup__input:nth-child(odd) {
	margin-bottom: 48px;
}

@media all and (max-width: 320px) {
	.popup__input {
		max-width: 238px;
		margin-bottom: 45px;	
	}
	.popup__input:nth-child(odd) {
		margin-bottom: 30px;
	}
}