.profile__avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-image: url(../../../images/avatar-edit.png);
}

.profile__avatar::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2A2C2F;
	transition: all .5s ease;
	opacity: .3;
}

.profile__avatar:hover {
	opacity: .6;
	cursor: pointer;
}

@media all and (max-width: 597px) {
	.profile__avatar {
		margin: 0 auto;
	}
}