.popup__button-close {
	max-width: 32px;
	max-height: 32px;
	position: absolute;
	background: url('../../../images/close.svg');
	background-size: cover;
	top: -32px;
	right: -32px;
}

.popup__button-close:hover {
	opacity: .8;
}