.popup__button-close {
	width: 32px;
	height: 32px;
	position: absolute;
	background: url(../../../images/close.svg);
	background-size: cover;
	top: -40px;
	right: -40px;
	z-index: 1;
}

.popup__button-close:hover {
	opacity: .8;
	cursor: pointer;
}

@media all and (max-width: 320px) {
	.popup__button-close {
		width: 20px;
		height: 20px;
		top: -36px;
		right: 0;
	}
}